body{
	font-family: sans-serif;
}
nav{
	width: 200px;
}
ul{
	/*outline: 1px solid yellow;*/
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
    line-height: 30px; /*hace espacio entre las lineas*/
}
li{
	/*outline: 1px solid red;*/ /* es para guiarte*/
	background: #f5f5f0; /*color de fondo*/
}
a{
	/*outline: 1px solid blue;*/
	display: block;
	text-decoration: none;
	color: #000;
	padding-left: 10px; /*espacio a la derecha*/
}
a:hover{
    background: #e0e0d1;
}
a:active{
	background: #333;
	color: #fff;
}

ul li:first-child{
	background:  #f9a91a;
}
ul li:first-child a{
	color: #fff;
}
ul li:first-child a:hover{
	color: #000;
}
ul li:first-child a:active{
	color: #fff;
}

